
<!-- Button trigger modal -->
<button type="button" (click)="showmodal=true && categories=true" class="btn btn-primary addbtn" data-toggle="modal" data-target="#exampleModalCenter">
  +
</button>

<!-- Modal -->
<div [ngClass]="{'show':showmodal}" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">categories</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="categories" class="categories d-flex flex-column justify-content-center align-items-center">
         <div ><button *ngFor="let value of categoriesvalue" (click)="addorremovevalue(value)"  [ngClass]="{'changecolor':findvalue(value) ===true}">{{value}}</button></div>
        </div>
        <div  *ngIf="savebutton"  class="date d-flex flex-column justify-content-center align-items-center">
          <div *ngFor="let value of selected;let i=index" class="credentials">
            <div class="categoryname d-flex justify-content-center">
              {{value}}
          </div>
          <div class="categorydata">
            <div class="description"><input type="text" name="description" placeholder="Description" [(ngModel)]="listobjarray[i].description"></div>
            <div class="date"><input type="date" name="date" [(ngModel)]="listobjarray[i].datevar"></div>
            <div class="money"><input  type="number" name="money" [(ngModel)]="listobjarray[i].moneyspent"></div>
            <div class="time"><input type="time" [(ngModel)]="listobjarray[i].time"></div>
          </div>
        </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
        <button *ngIf="categories" type="button" class="btn btn-primary" (click)="date()">Next</button>
        <button type="button" class="btn btn-primary" *ngIf="categories===false"(click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>

