
<div class="floatingButtonWrap">
    <div class="floatingButtonInner">
        <a href="#" class="floatingButton" (click)="addoptions()" style="text-decoration: none;">
            +
            <i class="fa fa-plus icon-default"></i>
        </a>
    </div>
</div>
<div *ngIf="addbutton" class="categories d-flex flex-column justify-content-center align-items-center">
  <h1>categories</h1>
  <button (click)="date($event)" style="background-color: rgb(255,144,102);" value="Restaurant & Cafe">Restaurant & Cafe</button>
  <button (click)="date($event)" style="background-color: rgb(109,50,254);" value=" Clothes & Shoping">Clothes & Shoping</button>
  <button (click)="date($event)" style="background-color: rgb(13,182,131);" value="Credit & Loans">Credit & Loans</button>
  <button (click)="date($event)" style="background-color: rgb(232,187,114);" value="Giftcards">Giftcards</button>
</div>
<div *ngIf="categories" class="date d-flex flex-column justify-content-center align-items-center">
  <label for="spentmoney"><h1>Date</h1></label>
  <input type="date" name="date">
  <label for="Money"><h1>Money Spent</h1></label>
  <input type="text" name="money">
  <button>Save</button>
</div>
