
  .floatingButtonWrap {
      display: block;
      position: fixed;
      bottom: 45px;
      right: 45px;
      z-index: 999999999;
  }



  .floatingButton {
      display: block;
      width: 60px;
      height: 60px;
      text-align: center;
      background: -webkit-linear-gradient(45deg, #8769a9, #507cb3);
      background: -o-linear-gradient(45deg, #8769a9, #507cb3);
      background: linear-gradient(45deg, #8769a9, #507cb3);
      color: #fff;
      line-height: 50px;
      position: absolute;
      border-radius: 50% 50%;
      bottom: 0px;
      right: 0px;
      border: 5px solid #b2bedc;
      /* opacity: 0.3; */
      opacity: 1;
      transition: all 0.4s;
  }
  .categories{
    position: relative;
    top: -100vh;
    height: 100vh;
    width: 100%;
    button{
    width: 400px;
    height: 60px;
    border-radius: 20px;
    border: 0;
    margin-bottom: 20px;
  }
  }
  .date{
    position: fixed;
    top: 5%;
    left: 40%;
    height: 100vh;
  }













